@import 'settings';
@import 'foundation-emails';

//global typography

* {
  -moz-hyphens: none !important;
  -ms-hyphens: none !important;
  -webkit-hyphens: none !important;
  hyphens: none !important;
  word-wrap: normal !important;
}

h1, h2, h3, h4, h5, p{
  text-align: center;
}


h5{
  color: $black;
}

.alt-text{
  font-size: $global-font-size;
  font-color: $primary-color;
}

//header styles
.invisible{
    display:none;
    font-size: $small-font-size;
    color: $light-gray;
}
#browser-link{
  a{
    color: $medium-gray;
    &:hover{
      text-decoration: underline;
    }
  }
  font-size: 10px;
  margin: $global-margin;
  margin-bottom: $global-margin * 2;
}

#logo-header{
  .logo{
    width: 272px;
    height: 64px;
    font-size: $h3-font-size;
    color: $primary-color;
    margin: 0px auto;
  }
}


//standard content styles
.main-image{ //big full-width images
  width:570px;
}

.module{ //regular module
  margin-bottom: $global-margin * 5;
}

.image-text-background{ //image with side text gray bg module
    background-color: $light-gray;
    margin-bottom: $global-margin * 5;
    .image-side-text-module{
      background-color: $light-gray;
      .text-block{
        padding-top: $global-padding * 2;
        margin-left: $global-padding * 1.5;
        margin-right: $global-padding * 2;
        h2, p{
          color: $black;
        }
        h2{
          padding-bottom: $global-padding * 0.25;
        }

      }
      .left{
        padding-bottom: $global-padding;
        text-align:left;
      }
      .right{
        text-align:right;
      }
      img{
        padding-top: $global-padding;
      }
    }
}

.content-block{ //header & body copy before button
  margin-top: $global-margin * 2.5;
  margin-bottom: $global-margin * 3;
  padding-left: $global-padding * 2.5;
  padding-right: $global-padding * 2.5;
  h2{
    margin-bottom: $global-margin * 1.5;
  }
}

.expiration-date{ //FOMO call
  a{
    color: $secondary-color;
    font-family: $header-font-family;
    font-weight: $font-weight-bold;
  }
}

.bottom-cta-block-background{ //bottom CTA block
  background-color: $darker-gray;
  padding-bottom: $global-padding * 2.75;
  .bottom-cta{
    background-color: $darker-gray;
    h2{
        color: $white;
        margin-bottom: $global-margin * 3;
        margin-top: $global-padding * 4.75;
    }
  }
}


//custom content styles


//footer styles
#contact-info{
  background-color: $dark-gray;
  padding-left: $global-padding * 2;
  padding-right: $global-padding * 2;
  padding-bottom: $global-padding * 2.75;
  padding-top: $global-padding * 2.75;
  color: $white;
  a{
    color: $white;
    font-family: $header-font-family;
    &:hover{
      text-decoration: underline;
    }
  }
  h1{
    a{
      font-weight: $font-weight-bold;
    }
  }
}

#social-icons{
  padding-top: $global-padding * 2;
  img{
    display: inline;
    padding: $global-padding/2;
    width: 40px;
    height: 40px;
  }

}

#legal{
  p{
    font-size: $small-font-size;
    padding: $global-padding/4;
  }
  a{
    color: $secondary-color;
  }
  margin-top: $global-padding * 4;
}
