@import 'settings';
@import 'foundation-emails';

h1, h2, h3, h4, h5{
  text-align: center;
}

#browser-link{
  a{
    color: $medium-gray;
    &:hover{
      text-decoration: underline;
    }
  }
  font-size: 10px;
  margin: $global-margin;
}

#logo-header{
  margin: $global-margin * 2;
  .logo{
    width: 272px;
    height: 64px;
    font-size: $h2-font-size;
    color: $primary-color;
  }
}

#footer{
  background-color: $dark-gray;
  padding: $global-padding * 2.5;
  color: $white;
  a{
    color: $white;
    font-family: $header-font-family;
    &:hover{
      text-decoration: underline;
    }
  }

}

#social-icons{
  a{
    color: $dark-gray;
  }
  h1{
    display: inline;
    padding: $global-padding;
  }
  margin: $global-margin * 2;
  padding: $global-padding;
}
