@import 'settings';
@import 'foundation-emails';

#footer{
  background-color: $dark-gray;
  padding: $global-padding * 2.5;
  color: $white;
  a{
    color: $white;
    font-family: $header-font-family;
    &:hover{
      text-decoration: underline;
    }
  }
  h1, h4{
    text-align: center;
}

}

#browser-link{
  a{
    color: $medium-gray;
    &:hover{
      text-decoration: underline;
    }
  }
  font-size: 10px;
  margin: $global-margin;
}

#logo-header{
  margin: $global-margin * 2;
  .logo{
    width: 272px;
    height: 64px;
    font-size: $h2-font-size;
    color: $primary-color;
  }
}
