<div class="bottom-cta-block-background">

  <container class="bottom-cta">
    <row>

      <columns>

        <h2>Want to see your work with our instrument published on our website? Send us a copy of your publication.</h2>

        <!-- button container -->
        <container class="bottom-cta">
          <row>
            <columns>
              <center>
                <button href="mailto:sales@cid-inc.com" class="large rounded">
            Email us
            </button>
            <!--[if (gte mso 9)|(IE)]>
            <br>
            <![endif]-->
            <!--[if (gte mso 12)]>
            <br><br>
            <![endif]-->
          </center>
        </columns>
      </row>
    </container>


      </columns>

    </row>

</container>

</div>
