<div class="bottom-cta-block-background">

  <container class="bottom-cta">
    <row>

      <columns>

        <h2>Need a refresher on how the F-920 Check It! can help streamline your QA process?
</h2>

        <!-- button container -->
        <container class="bottom-cta">
          <row>
            <columns>
              <center>
                <button href="http://cid-inc.com" class="large rounded">
               Download the F-920 Brochure
            </button>
            <!--[if (gte mso 9)|(IE)]>
            <div style="margin-bottom:40px;">
            &nbsp;
            </div>
            <![endif]-->
          </center>
        </columns>
      </row>
    </container>


      </columns>

    </row>

</container>

</div>
