<div class="bottom-cta-block-background">

  <container class="bottom-cta">
    <row>

      <columns>

        <h2>Want to see what researchers like you are doing with our Leaf Area Meters?</h2>

        <!-- button container -->
        <container class="bottom-cta">
          <row>
            <columns>
              <center>
                <button href="https://cid-inc.com/applications/?product=136&utm_source=Newsletter&utm_campaign=202%2F203%20EOY%20warranty&utm_medium=Email" class="large rounded">
              View Applications
            </button>
            <!--[if (gte mso 9)|(IE)]>
            <div style="margin-bottom:40px;">
            &nbsp;
            </div>
            <![endif]-->
          </center>
        </columns>
      </row>
    </container>


      </columns>

    </row>

</container>

</div>
