
  <container>


  <row>
<div class="content-block">
    <columns small="12" large="12">

    <!-- text -->
      <h2>Upcoming Conferences</h2>
        <p>
        We’re gearing up for a busy November at CID Bio-Science.
        </p>

        <!--[if (gte mso 9)|(IE)]>
        <div style="margin-bottom:35px;">
        &nbsp;
        </div>
        <![endif]-->


      </columns>
  </div>

    </row>
</container>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:20px;">
&nbsp;
</div>
<![endif]-->
