<div class="conference">

    <!-- conference -->

<div class="content-block">

   <container>
            <row>
                <columns small="12" large="12">

          <!-- date -->
                    <h5 class="date">November 6-9</h5>

                </columns>
            </row>
        </container>


        <container>
          <row>
              <columns small="12" large="9">

        <!-- show title -->

                <a href="https://www.acsmeetings.org/about">American Society of Agronomy | Crop Science Society of America | Soil Science Society of America
                </a>
                <p class="event-details">Special Lecture, Applications for Root Imaging in Agriculture, on Wednesday, Nov. 9 at 11:30 AM
                </p>

              </columns>

                <columns small="12" large="3">

          <!-- show location -->

                  <p>Phoenix, AZ</p>

                </columns>

          </row>

        </container>
        <!--[if (gte mso 9)|(IE)]>
        <div style="display:none;">
        <![endif]-->
    <hr class="divider"> <!-- dividing line -->
    <!--[if (gte mso 9)|(IE)]>
    </div>
    <![endif]-->

</div>


        <!-- conference -->

<div class="content-block">

        <container>
                <row>
                    <columns small="12" large="12">

              <!-- date -->
                        <h5 class="date">Month 19-20</h5>

                    </columns>
                </row>
            </container>


            <container>
              <row>
                  <columns small="12" large="9">

            <!-- show title -->

                    <a href="show-site">The Number One Show for Number Ones Only</a>

                  </columns>

                    <columns small="12" large="3">

              <!-- show location -->

                      <p>The place, The area</p>

                    </columns>

              </row>

            </container>

</div>



</div>
