<div class="module">

 <container>

          <row>
            <columns small="12" large="12">

            <center>

                 <!-- text -->

                    <div class="conference-outro">
                         <p>We’ll be walking the WSTFA Annual Meeting (no booth this time), but we’d be happy to meet you by appointment for demos and questions! </p>
                    </div>

                         <!-- button container -->
                         <container>
                           <row>
                             <columns>
                               <center>

                                 <button href="mailto:sales@felixinstruments.com?subject=WSTFA Appointment" class="large rounded">
                             Make an Appointment
                             </button>

                           </center>
                         </columns>
                       </row>
                     </container>


            </center>

              </columns>
            </row>

    </container>
<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:50px;">
&nbsp;
</div>
<![endif]-->
</div>
