
  <container>


  <row>
<div class="content-block">
    <columns small="12" large="12">

    <!-- text -->
      <h2>Upcoming Conferences</h2>
        <p>
          Guess where we will be. You'll never be able to guess, but, luckily for you, we have added a list of upcoming shows just for you. It's below this sentence. Just keep looking.
        </p>

        <!--[if (gte mso 9)|(IE)]>
        <div style="margin-bottom:50px;">
        &nbsp;
        </div>
        <![endif]-->

            <!-- optional callout for special notes -->
            <callout>
              <ul><li>This is a <strong>special notice</strong> about an upcoming conference!</li></ul>
            <ul><li>This is the second <strong>special notice</strong> about an upcoming conference!</li></ul>
          </callout>

      </columns>
  </div>

    </row>
</container>
