<div class="extra-conf">
 <container>


          <row>

    <columns small="12" large="12">


     <center>

         <!-- text -->

             <p>We’ll be walking this show (no booth this time), but we’d be happy to meet you by appointment for demos and questions! </p>

             <!-- button container -->
             <container>
               <row>
                 <columns>
                   <center>

                     <button href="mailto:sales@felixinstruments.com?subject=WSTFA Appointment" class="large rounded">
                 Make an Appointment
                 </button>

               </center>
             </columns>
           </row>
         </container>

    </center>

      </columns>


    </row>
</container>
<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:50px;">
&nbsp;
</div>
<![endif]-->
</div>
