<div class="module">

  <container>

  <row>
    <columns small="12" large="12">

    <!-- text -->
    <div class="content-block">

      <h2>Upcoming Conferences</h2>
        <p>
          Guess where we will be. You'll never be able to guess, but, luckily for you, we have added a list of upcoming shows just for you. It's below this sentence. Just keep looking.
        </p>

            <!-- optional callout for special notes -->
            <callout>
              <ul><li>This is a <strong>special notice</strong> about an upcoming conference!</li></ul>
            <ul><li>This is the second <strong>special notice</strong> about an upcoming conference!</li></ul>
          </callout>


<container>   <!-- conference list -->
          <row>

          <div class="conference first-conference"><!-- first conference gets spacing on top -->

            <h5 class="date">Month 19-20</h5>

              <columns small="12" large="8">


                  <a href="show-site">The Number One Show for Number Ones Only</a>

              </columns>

                    <columns small="12" large="4">

                      The place, The area

                    </columns>

                  </div>

          </row>



          <hr class="divider"> <!-- dividing line -->



          <row>

          <div class="conference">

            <h5 class="date">Month 19-20</h5>

            <columns small="12" large="8">

                <a href="show-site">The Number One Show for Number Ones Only</a>

            </columns>

            <columns small="12" large="4">

              The place, The area

            </columns>

          </div>

        </row>

      </container> <!-- end conference list -->


    </div>

    </columns>

  </row>

</container>
</div>
