
  <container>


  <row>
<div class="content-block">
    <columns small="12" large="12">

    <!-- text -->
      <h2>Upcoming Conferences</h2>
        <p>
        We’re gearing up for a busy November at CID Bio-Science.
        </p>

        <!--[if (gte mso 9)|(IE)]>
        <div style="margin-bottom:35px;">
        &nbsp;
        </div>
        <![endif]-->

            <!-- optional callout for special notes -->
            <callout>
              <ul><li>At <strong>ASA CSSA SSSA</strong> we’ll debut the <a href="">CI-602 Narrow Gauge Minirhizotron</a> and <strong>Application Scientist Andrea Melnychenko</strong> will give a 15-minute lecture called Applications for Root Imaging in Agriculture (see details below)!</li></ul>
            <ul><li>Later in November <strong>CID Bio-Science president, Leonard Felix</strong>, will travel to China for conferences in <strong>Beijing and Shanghai</strong>. Swing by either conference to see the full CID product line in person and listen to his lecture on Root Measurement Technology.
          </li></ul>
          </callout>

      </columns>
  </div>

    </row>
</container>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:20px;">
&nbsp;
</div>
<![endif]-->
