<div class="conference">

    <!-- conference -->

<div class="content-block">

   <container>
            <row>
                <columns small="12" large="12">

          <!-- date -->
                    <h5 class="date">November 6-9</h5>

                </columns>
            </row>
        </container>


        <container>
          <row>
              <columns small="12" large="9">

        <!-- show title -->

                <a href="https://www.acsmeetings.org/about">American Society of Agronomy | Crop Science Society of America | Soil Science Society of America
                </a>
                <p class="event-details">Special Lecture, Applications for Root Imaging in Agriculture, by Andrea Melnychenko on Wednesday, Nov. 9 at 11:30 AM
                </p>
                <p class="event-details">Visit booth number 713 to see the new <a href="https://cid-inc.com/plant-science-tools/root-measurement-with-minirhizotron/ci-602-narrow-gauge-root-imager/?utm_source=Newsletter&utm_campaign=CID%20October%20News&utm_medium=Email">CI-602 Narrow Gauge Root Imager</a>!</p>

              </columns>

                <columns small="12" large="3">

          <!-- show location -->

                  <p>Phoenix, AZ</p>


                </columns>

          </row>

        </container>
        <!--[if (gte mso 9)|(IE)]>
        <div style="display:none;">
        <![endif]-->
    <hr class="divider"> <!-- dividing line -->
    <!--[if (gte mso 9)|(IE)]>
    </div>
    <![endif]-->

</div>


        <!-- conference -->

<div class="content-block">

        <container>
                <row>
                    <columns small="12" large="12">

              <!-- date -->
                        <h5 class="date">November 21-22</h5>

                    </columns>
                </row>
            </container>


            <container>
              <row>
                  <columns small="12" large="9">

            <!-- show title -->

                    <a href="http://www.zealquest.com/en/news/view.asp?id=785">2016 Zealquest Plant Photosynthesis and Phenotyping Technology Workshop</a>
                    <p class="event-details">Special Lecture by Leonard Felix on Root Measurement Technology</p>

                  </columns>

                    <columns small="12" large="3">

              <!-- show location -->

                      <p>Beijing</p>
                      <p class="event-details">Beijing Ziyu Hotel No. 55 Zengguang Road, Haidian District</p>

                    </columns>

              </row>

            </container>

            <!--[if (gte mso 9)|(IE)]>
            <div style="display:none;">
            <![endif]-->
        <hr class="divider"> <!-- dividing line -->
        <!--[if (gte mso 9)|(IE)]>
        </div>
        <![endif]-->

</div>


<!-- conference -->

<div class="content-block">

<container>
        <row>
            <columns small="12" large="12">

      <!-- date -->
                <h5 class="date">November 24-25</h5>

            </columns>
        </row>
    </container>


    <container>
      <row>
          <columns small="12" large="9">

    <!-- show title -->

            <a href="http://www.zealquest.com/en/news/view.asp?id=785">2016 Zealquest Plant Photosynthesis and Phenotyping Technology Workshop</a>
            <p class="event-details">Special Lecture by Leonard Felix on Root Measurement Technology</p>

          </columns>

            <columns small="12" large="3">

      <!-- show location -->

              <p>Shanghai</p>
              <p class="event-details">Pine City Hotel No. 777 Zhaojiabang Road, Xuhui District</p>

            </columns>

      </row>

    </container>

</div>



</div>
