
  <container class="extra-conf">


  <row>
<div>
    <columns small="12" large="12">

    <!-- text -->
     <center>

       <!-- extra text -->

             <p>We’ll be walking this show (no booth this time), but we’d be happy to meet you by appointment for demos and questions! </p>


             <!-- button container -->
             <container>
               <row>
                 <columns>
                   <center>

                     <button href="mailto:sales@felixinstruments.com?subject=WSTFA Appointment" class="large rounded">
                 Make an Appointment
                 </button>

               </center>
             </columns>
           </row>
         </container>

    </center>

      </columns>
  </div>

    </row>
</container>
