<div class="updates-container blue last-update"> <!-- gray bg div -->

  <container class="blue">

  <row>

   <columns small="12" large="4">

     <!--[if mso]>
     <div style="margin-bottom:25px;">
     &nbsp;
     </div>
     <![endif]-->


     <!--[if (gte mso 9)|(IE)]>
     <div style="margin-bottom:-10px;">
     &nbsp;
     </div>
     <![endif]-->


  <center>
    <!-- image -->
    <a href="https://felixinstruments.com/blog/exciting-collaboration-in-the-works-on-f-750-produce-quality-meter-fruit-mapping-web-application/">
      <img src="http://placehold.it/140x140" alt="In the works" width="140" class="alt-text update-icon">
    </a>
    </center>

    </columns>



   <columns small="12" large="8">

        <div class="updates-block">

          <!-- text -->
          <h2>Fruit Map Web App</h2>

          <p>We’re currently working in collaboration with researchers at Central Queensland University to develop a new web application that has the power to help growers quickly and easily determine optimal harvest timing through fruit mapping.</p>


          <!-- button container -->
          <container class="blue">
            <row>
              <columns>

                  <button href="https://felixinstruments.com/blog/exciting-collaboration-in-the-works-on-f-750-produce-quality-meter-fruit-mapping-web-application/" class="large rounded alert">
                Learn what’s up
              </button>

          </columns>
        </row>
      </container>


          </div>



    </columns>


  </row>

</container>
</div>
