<div class="updates-container blue last-update"> <!-- gray bg div -->

  <container class="blue">

  <row>

   <columns small="12" large="4">


     <!--[if (gte mso 9)|(IE)]>
     <div style="margin-bottom:35px;">
     &nbsp;
     </div>
     <![endif]-->


  <center>
    <!-- image -->
    <a href="https://felixinstruments.com/use-case/why-dry-matter-matters/?utm_source=Newsletter&utm_campaign=Felix%20October%20News&utm_medium=Email">
      <img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/728e1480-4438-4f3e-ab26-fc7258088751.png" alt="Why Dry Matter Matters" width="140" class="alt-text update-icon">
    </a>
    </center>

    </columns>



   <columns small="12" large="8">

        <div class="updates-block">

          <!-- text -->
          <h2>Dry Matter and You</h2>

          <!--[if (gte mso 9)|(IE)]>
          <div style="margin-right:40px;">
          <![endif]-->


          <p>Need a refresher on why dry matter matters for the fresh fruit industry?</p>

          <!--[if (gte mso 9)|(IE)]>
          </div>
          <![endif]-->

          <!-- button container -->
          <container class="blue">
            <row>
              <columns>

                  <button href="https://felixinstruments.com/use-case/why-dry-matter-matters/?utm_source=Newsletter&utm_campaign=Felix%20October%20News&utm_medium=Email" class="large rounded alert">
                View the infographic
              </button>

          </columns>
        </row>
      </container>


          </div>



    </columns>


  </row>

</container>
</div>
