<div class="updates-container green"> <!-- gray bg div -->

  <container class="green">

  <row>

   <columns small="12" large="4">


     <!--[if (gte mso 9)|(IE)]>
     <div style="margin-bottom:35px;">
     &nbsp;
     </div>
     <![endif]-->


  <center>
    <!-- image -->
    <a href="https://cid-inc.com/blog/october-update-native-hawaiian-forest-restoration-project/?utm_source=Newsletter&utm_campaign=CID%20October%20News&utm_medium=Email">
      <img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/638b364c-fa29-4295-ac42-c9c2792e5cb1.png" align="center" valign="top" alt="News from Hawaii" width="140" class="alt-text update-icon">
    </a>
    </center>

    </columns>



   <columns small="12" large="8">

        <div class="updates-block">

          <!-- text -->
          <h2>New Updates</h2>

          <!--[if (gte mso 9)|(IE)]>
          <div style="margin-right:40px;">
          <![endif]-->


          <p>Read the latest post on how our minirhizotron and photosynthesis analyzer are being used to support the Ryer’s Native Forest Restoration project in Hilo, Hawaii.</p>

          <!--[if (gte mso 9)|(IE)]>
          </div>
          <![endif]-->

          <!-- button container -->
          <container class="green">
            <row>
              <columns>

                  <button href="https://cid-inc.com/blog/october-update-native-hawaiian-forest-restoration-project/?utm_source=Newsletter&utm_campaign=CID%20October%20News&utm_medium=Email" class="large rounded success">
                See the Post
              </button>

          </columns>
        </row>
      </container>


          </div>



    </columns>


  </row>

</container>
</div>
