<div class="updates-container green last-update"> <!-- gray bg div -->

  <container class="green">

  <row>

   <columns small="12" large="4">

     <!--[if mso]>
     <div style="margin-bottom:25px;">
     &nbsp;
     </div>
     <![endif]-->


     <!--[if (gte mso 9)|(IE)]>
     <div style="margin-bottom:-10px;">
     &nbsp;
     </div>
     <![endif]-->


  <center>
    <!-- image -->
    <a href="">
      <img src="assets/img/icon-news.png" alt="Image of the action" width="140" class="alt-text update-icon">
    </a>
    </center>

    </columns>



   <columns small="12" large="8">

        <div class="updates-block">

          <!-- text -->
          <h2>Forest Restoration Update</h2>

          <p>Get the latest on Mihaela and Michael Ryer’s work with our minirhizotron and photosynthesis analyzer on their native forest restoration in Hilo, Hawaii.</p>


          <!-- button container -->
          <container class="green">
            <row>
              <columns>

                  <button href="http://cid-inc.com" class="large rounded success">
                To the blog
              </button>

          </columns>
        </row>
      </container>


          </div>



    </columns>


  </row>

</container>
</div>
