<div class="updates-container green"> <!-- gray bg div -->

  <container class="green">

  <row>

   <columns small="12" large="4">

     <!--[if mso]>
     <div style="margin-bottom:25px;">
     &nbsp;
     </div>
     <![endif]-->


     <!--[if (gte mso 9)|(IE)]>
     <div style="margin-bottom:-10px;">
     &nbsp;
     </div>
     <![endif]-->


  <center>
    <!-- image -->
    <a href="">
      <img src="http://placehold.it/140x140" alt="Image of the action" width="140" class="alt-text update-icon">
    </a>
    </center>

    </columns>



   <columns small="12" large="8">

        <div class="updates-block">

          <!-- text -->
          <h2>New Updates!</h2>

          <p>Are you ready to hear what we've been up to? The latest and greatest from us will follow, like it or not.</p>


          <!-- button container -->
          <container class="green">
            <row>
              <columns>

                  <button href="http://cid-inc.com" class="large rounded success">
                See more
              </button>

          </columns>
        </row>
      </container>


          </div>



    </columns>


  </row>

</container>
</div>
