<div class="updates-container blue last-update"> <!-- gray bg div -->

  <container class="blue">

  <row>

   <columns small="12" large="4">

     <!--[if mso]>
     <div style="margin-bottom:25px;">
     &nbsp;
     </div>
     <![endif]-->


     <!--[if (gte mso 9)|(IE)]>
     <div style="margin-bottom:-10px;">
     &nbsp;
     </div>
     <![endif]-->


  <center>
    <!-- image -->
    <a href="https://cid-inc.com/use-case/what-are-leaves-and-why-are-they-important/">
      <img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/96f9b45f-f0fa-4809-8fb0-f56d729a629a.png" alt="About leaves" width="140" class="alt-text update-icon">
    </a>
    </center>

    </columns>



   <columns small="12" large="8">

        <div class="updates-block">

          <!-- text -->
          <h2>Having trouble explaining what you do? </h2>

          <p>Try starting at square one with our "What Are Leaves" infographic. </p>


          <!-- button container -->
          <container class="blue">
            <row>
              <columns>

                  <button href="https://cid-inc.com/use-case/what-are-leaves-and-why-are-they-important/" class="large rounded alert">
                Take Leaves 101
              </button>

          </columns>
        </row>
      </container>


          </div>



    </columns>


  </row>

</container>
</div>
