<div class="module">

  <container>

  <row>

    <!-- main image -->


    <columns small="12" large="12">
        <center>

      <a href="https://felixinstruments.com/food-science-instruments/handheld-ethylene-co2-o2-analysis/f-940-store-it-gas-analyzer/?utm_source=newsletter&utm_campaign=new-year&utm_medium=email">
         <img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/6c324f9e-75fc-4699-b2a0-cae2c3152490.jpg" width="570" class="alt-text main-image" alt="Put the brakes on waste - monitor ripening gases, increase shelf life.">
      </a>

      </center>
      </columns>

      <!--[if (gte mso 12)]>
      <div style="margin-bottom:40px;">
      &nbsp;
      </div>
      <![endif]-->


  </row>

</container>
</div>
