<div class="module">

  <container>

  <row>

    <!-- main image -->


    <columns small="12" large="12">
        <center>

      <a href="https://cid-inc.com/plant-science-tools/root-measurement-with-minirhizotron/?utm_source=newsletter&utm_campaign=ag-grant&utm_medium=email">
         <img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/74c13391-bde4-45dd-b6fd-78bc67203557.jpg" width="570" class="alt-text main-image" alt="Farming Matters">
      </a>

      </center>
      </columns>

  </row>

  <row>
    <columns small="12" large="12">

    <!-- text -->
    <div class="content-block">


        <p>We all know that Earth’s population is growing. But do you know how fast? <a href="http://www.pewresearch.org/fact-tank/2014/02/03/10-projections-for-the-global-population-in-2050/">According to the Pew Research Center we’ll go from 7 billion to 9.6 billion by 2050.</a> That means we’re going to have a lot of extra mouths to feed.<p>

          <br>

        <p> So how are we going to adapt? Likely it’s going to be a group effort. One thing we know for sure, though, is that agricultural operations of all shapes and sizes are going to be a critical part of the equation.</p>

        <br>

        <p>  Which got us thinking:</p>
        <p><strong>is there anything we can do to help?</strong></p>

        <br>

          <p>Our minirhizotron systems enable agricultural researchers to:</p>

        <ul>
          <li><span class="green">Capture non-destructive, high resolution, digital images</span> to observe the development and function of a plant’s root system.</li>
        <li><span class="green">Analyze root images</span> to learn important information about the root health and development of their crops.</li>
        <li><span class="green">Track established and newly rooted crops</span> throughout the growing season non-destructively.</li>
        <li><span class="green">Diagnose plant pathogens and disorders</span> by acting as an early detection system.</li>
      </ul>

      <br>

      <p>If you’re an agronomist with a focus on root research, or are interested in starting to get to know the underground half of your crop, you might be a great fit for our ag grant program, <strong>which reduces the price of our minirhizotrons by 10K!</strong>  Ready to find out if you qualify?</p>

    </div>

    <!-- button container -->
    <container>
      <row>
        <columns>
          <center>
            <button href="http://cid-inc.com" class="large rounded">
          Apply Now
        </button>
      </center>
    </columns>
  </row>
</container>


    </columns>

  </row>

</container>
</div>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:20px;">
&nbsp;
</div>
<![endif]-->
