<div class="module">

  <container>

  <row>

    <columns small="12" large="6">

<div class="mobile-space">
    <a href="https://cid-inc.com/plant-science-tools/photosynthesis-measurement/ci-340-handheld-photosynthesis-system/accessories/control-modules/ci-301la-light-control-module/?utm_source=newsletter&utm_campaign=340pricedrop&utm_medium=email"><img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/a4e1e834-782c-475c-b715-57ec523963d3.jpg" width="300" class="alt-text half-image" alt="Light Control Module"></a>
</div>

    </columns>


    <columns small="12" large="6">

    <a href="https://cid-inc.com/plant-science-tools/photosynthesis-measurement/ci-340-handheld-photosynthesis-system/accessories/control-modules/ci-301ad-co2-and-h2o-control-accessory/?utm_source=newsletter&utm_campaign=340pricedrop&utm_medium=email">  <img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/51832393-6d85-440c-be03-286f6f5a789c.jpg" width="300" class="alt-text half-image" alt="H20/CO2 Control Module"></a>


    </columns>




  </row>
  </container>

  </div>

  <!--[if (gte mso 12)|(IE)]>
  <div style="margin-bottom:40px;">
  &nbsp;
  </div>
  <![endif]-->


  <div class="module">

      <container>
  <row>

    <columns small="12" large="6">

      <a href="https://cid-inc.com/plant-science-tools/photosynthesis-measurement/ci-340-handheld-photosynthesis-system/accessories/control-modules/ci-510cs-temperature-control-accessory/?utm_source=newsletter&utm_campaign=340pricedrop&utm_medium=email"><img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/2c2835f3-9517-4ee0-b605-2b62c79b6191.jpg" width="300" class="alt-text half-image" alt="Temperature Control Module"></a>


    </columns>


    <columns small="12" large="6">

    <a href="https://cid-inc.com/plant-science-tools/photosynthesis-measurement/ci-340-handheld-photosynthesis-system/accessories/control-modules/ci-510cf-chlorophyll-fluorescence/?utm_source=newsletter&utm_campaign=340pricedrop&utm_medium=email">  <img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/f49ddc2e-536d-4746-9823-7215274e2acf.jpg" width="300" class="alt-text half-image" alt="Chlorophyll Fluorescence Module"></a>


    </columns>




  </row>

</container>
</div>

<br>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:20px;">
&nbsp;
</div>
<![endif]-->
