<div class="module">

  <container>

  <row>

    <!-- main image -->


    <columns small="12" large="12">
        <center>

      <a href="https://felixinstruments.com/food-science-instruments/handheld-ethylene-co2-o2-analysis/f-960-ripen-it-gas-analyzer/?utm_source=newsletter&utm_campaign=new-year&utm_medium=email">
         <img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/a98d1065-f9c9-487c-ae19-86e04cf78f83.jpg" width="570" class="alt-text main-image" alt="Color your world - your produce is colorful, so your ripening tools should be too!">
      </a>

      </center>
      </columns>



  </row>

</container>
</div>
