<div class="module">
  <container>

  <row>

    <!-- main image -->
    <columns small="12" large="12">
      <img src="http://placehold.it/600x450" class="alt-text" alt="A nice placeholder image">
    </columns>

  </row>

  <row>
    <columns small="12" large="12">

    <!-- text -->
    <div class="content-block">

      <h2>Keep ethylene in check and your CO<sub>2</sub><br>and O<sub>2</sub> levels optimized with the new<br> Store It! Gas Analyzer. </h2>

    </div>

    <!-- button container -->
    <container>
      <row>
        <columns>
          <center>
            <button href="https://www.felixinstruments.com/request-pricing/" class="large rounded">
          Get a Quote
        </button>
      </center>
    </columns>
  </row>
</container>

   <h5 class="expiration-date">Order before December 31, 2016 for <a href="https://www.felixinstruments.com/request-pricing/">15% off!</a></h5>

    </columns>

  </row>

</container>
</div>
