<div class="module">

  <container>

  <row>

    <!-- main image -->


    <columns small="12" large="12">
        <center>

      <a href="https://felixinstruments.com/food-science-instruments/portable-nir-analyzers/f-750-produce-quality-meter/?utm_source=newsletter&utm_campaign=new-year&utm_medium=email">
         <img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/4c569662-7de9-4f5e-8f5b-aad04fa22535.jpg" width="570" class="alt-text main-image" alt="Offer quality consistently - optimize harvest timing and deliver a great product.">
      </a>

      </center>
      </columns>



  </row>

</container>
</div>
