<div class="module">

  <container>

  <row>

    <!-- main image -->


    <columns small="12" large="12">
        <center>

      <a href="">
         <img src="assets/img/main-image.png" width="570" class="alt-text main-image" alt="Welcome to 2017">
      </a>

      </center>
      </columns>



  </row>

  <row>
    <columns small="12" large="12">

    <!-- text -->
    <div class="content-block">

      <h2>What are you going to do with your clean slate?</h2>

    </div>

    </columns>

  </row>

</container>
</div>
