<div class="module">

  <container>

  <row>

    <!-- main image -->


    <columns small="12" large="12">
        <center>

          <div class="content-block">
            <h1>New Year, New Tube Price</h1>
          </div>

      <a href="https://cid-inc.com/plant-science-tools/root-measurement-with-minirhizotron/ci-600-in-situ-root-imager/?utm_source=newsletter&utm_campaign=600tubeprice&utm_medium=email">
         <img src="assets/img/main.jpg" width="570" class="alt-text main-image" alt="CI-600 Root Imager tubes">
      </a>

      </center>
      </columns>

  </row>

  <row>
    <columns small="12" large="12">

    <!-- text -->
    <div class="content-block">

        <p>
          We thought you’d be happy to know that we’ve lowered the price of our root tubes to <strong>$95 per tube!</strong> </p>
          <br>

      <p>Ready to jump on this great deal?</p>
      <br>

      <p>Reply to this email with how many tubes you’d like and we’ll send you a quote.</p>

    </div>

    <!-- button container -->
    <container>
      <row>
        <columns>
          <center>
            <button href="https://cid-inc.com/applications/?product=148&utm_source=newsletter&utm_campaign=600tubeprice&utm_medium=email" class="large rounded">
          Click this
        </button>
      </center>
    </columns>
  </row>
</container>


    </columns>

  </row>

</container>
</div>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:70px;">
&nbsp;
</div>
<![endif]-->
