<div class="module">

  <container>

  <row>

    <!-- main image -->


    <columns small="12" large="12">
        <center>

      <a href="">
         <img src="http://placehold.it/570x375" width="570" class="alt-text main-image" alt="A nice placeholder image">
      </a>

      </center>
      </columns>

  </row>

  <row>
    <columns small="12" large="12">

    <!-- text -->
    <div class="content-block">

      <h2>Thanks a lot.</h2>
        <p>
          We're thrilled. Truly. Here, have this.
          </p>

          <callout class="callout">
          <div mc:edit="giftcode">

            <p>123-GIFTCODE-456</p>

          </div>
          </callout>
    </div>

    <!-- button container -->
    <container>
      <row>
        <columns>
          <center>
            <button href="http://cid-inc.com" class="large rounded">
          Click this
        </button>
      </center>
    </columns>
  </row>
</container>


    </columns>

  </row>

</container>
</div>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:70px;">
&nbsp;
</div>
<![endif]-->
