<div class="module">

  <container>

  <row>

    <!-- main image -->


    <columns small="12" large="12">
        <center>

      <a href="https://felixinstruments.com/food-science-instruments/headspace-map-analysis/f-920-check-it-gas-analyzer/?utm_source=newsletter&utm_campaign=new-year&utm_medium=email">
         <img src="assets/img/image01.jpg" width="570" class="alt-text main-image" alt="Save more time - measure headspace in 10 seconds or less!">
      </a>

      </center>
      </columns>



  </row>

</container>
</div>
