<div class="module">
  <container>

  <row>

    <!-- main image -->
    <columns small="12" large="12">
    <a href="https://www.felixinstruments.com/food-science-instruments/gas-analyzers/f-940-store-it-gas-analyzer/?utm_source=Newsletter&utm_medium=Emali&utm_campaign=940%20Launch%20101916">

      <img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/ca2dcae7-739f-43fd-bc6c-136b20114b88.jpg" width="570" height="646" class="alt-text main-image" alt="Felix Instruments is excited to announce the launch of the F-940 Store It! Gas Analyzer made especially for QA professionals.">
    </a>
    </columns>

  </row>

  <row>
    <columns small="12" large="12">

    <!-- text -->
    <div class="content-block">

      <h2>Keep <strong>ethylene</strong> in check and your<strong> CO<sub>2</sub></strong> and <strong>O<sub>2</sub></strong> levels optimized with the new Store It! Gas Analyzer. </h2>

    </div>

    <!-- button container -->
    <container>
      <row>
        <columns>
          <center>
            <button href="https://www.felixinstruments.com/request-pricing/?utm_source=Newsletter&utm_medium=Emali&utm_campaign=940%20Launch%20101916" class="large rounded">
          Get a Quote
        </button>
      </center>
    </columns>
  </row>
</container>

   <h5 class="expiration-date">Order before December 31, 2016 for <a href="https://www.felixinstruments.com/request-pricing/?utm_source=Newsletter&utm_medium=Emali&utm_campaign=940%20Launch%20101916">15% off!</a></h5>

    </columns>

  </row>

</container>
</div>
