<div class="module">

  <container>

  <row>

    <!-- main image -->


    <columns small="12" large="12">
        <center>

      <a href="https://cid-inc.com/distributors/?utm_source=newsletter&utm_medium=email&utm_campaign=novemberthanks">
         <img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/b0f8ec1c-ca73-4dac-afde-f03da7cbd62c.png" width="570" class="alt-text main-image" alt="Thankful for the support">
      </a>

      </center>
      </columns>

  </row>

  <row>
    <columns small="12" large="12">

    <!-- text -->
    <div class="content-block">

        <p>
Our network of distribution partners allows us to provide tailored service around the world. Thanks to our distributors, many of our international users receive in-person visits, answers to questions in locally spoken languages, and technical service and support in the same time zone.    </div>

    <!-- button container -->
    <container>
      <row>
        <columns>
          <center>
            <button href="https://cid-inc.com/distributors/?utm_source=newsletter&utm_medium=email&utm_campaign=novemberthanks" class="large rounded">
          Find a Distributor
        </button>
      </center>
    </columns>
  </row>
</container>


    </columns>

  </row>

</container>
</div>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:10px;">
&nbsp;
</div>
<![endif]-->
