<div class="module">

  <container>

  <row>

    <!-- main image -->


    <columns small="12" large="12">
        <center>

      <a href="https://felixinstruments.com/food-science-instruments/handheld-ethylene-co2-o2-analysis/f-940-store-it-gas-analyzer/?utm_source=newsletter&utm_campaign=new-year&utm_medium=email">
         <img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/445d8589-120f-4481-9f45-c6f8fd11fc8d.jpg" width="570" class="alt-text main-image" alt="Put the brakes on waste - monitor ripening gases, increase shelf life.">
      </a>

      </center>
      </columns>



  </row>

</container>
</div>
