<div class="module">

  <container>

  <row>

    <!-- main image -->


    <columns small="12" large="12">
        <center>

      <a href="https://cid-inc.com/about/?utm_source=newsletter&utm_medium=email&utm_campaign=novemberthanks">
         <img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/3476e1aa-fcf6-45d0-8e83-789063f580c9.png" width="570" class="alt-text main-image" alt="We have a fantastic team">
      </a>

      </center>
      </columns>

  </row>

  <row>
    <columns small="12" large="12">

    <!-- text -->
    <div class="content-block">

        <p>
Did you know that CID Bio-Science is made up of only 20 people? Even though we’re small, our team is able to design, engineer, manufacture, sell, and service our entire product line under one roof in Camas, Washington, USA. We know that providing you with the best products and service means working together and being grateful for each other every day.     </div>

    <!-- button container -->
    <container>
      <row>
        <columns>
          <center>
            <button href="https://cid-inc.com/about/?utm_source=newsletter&utm_medium=email&utm_campaign=novemberthanks" class="large rounded">
         Meet our Team
        </button>
      </center>
    </columns>
  </row>
</container>


    </columns>

  </row>

</container>
</div>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:10px;">
&nbsp;
</div>
<![endif]-->
