<div class="module">

  <container>

  <row>

    <!-- main image -->


    <columns small="12" large="12">
        <center>


         <img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/cd52f48e-6f63-4b55-8cdc-1e55dd3d0dda.png" width="570" class="alt-text main-image" alt="A huge thanks from us.">


      </center>
      </columns>

  </row>

  <row>
    <columns small="12" large="12">

    <!-- text -->
    <div class="content-block">

      <h2>We’re excited to connect with your colleague!</h2>
        <p>
          We want to place our products with the people who need them. Thanks for helping us take the first step. Please find the code for your Amazon gift card below. If you have any questions or concerns, feel free to <a href="mailto:sales@cid-inc.com">contact us</a>.
          </p>

          <!-- gift code -->

          <callout class="callout">
          <div mc:edit="giftcode">

            <p>123-GIFTCODE-456</p>

          </div>
          </callout>

    </div>


    </columns>

  </row>

</container>
</div>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:30px;">
&nbsp;
</div>
<![endif]-->
