<div class="module">

  <container>

  <row>

    <columns small="12" large="6">

      <a href="https://cid-inc.com/plant-science-tools/leaf-area-measurement/ci-202-portable-laser-leaf-area-meter/?utm_source=Newsletter&utm_campaign=202%2F203%20EOY%20warranty&utm_medium=Email"><img src="assets/img/202-sunflowers.gif" width="300" class="alt-text half-image" alt="Tools that Travel">
</a>

    </columns>


    <columns small="12" large="6">

    <a href="https://cid-inc.com/plant-science-tools/leaf-area-measurement/ci-203-handheld-laser-leaf-area-meter/?utm_source=Newsletter&utm_campaign=202%2F203%20EOY%20warranty&utm_medium=Email">  <img src="assets/img/203-corn.gif" width="300" class="alt-text half-image" alt="Faster Data Collection, More Discoveries"></a>


    </columns>




  </row>

</container>
</div>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:70px;">
&nbsp;
</div>
<![endif]-->
