<div class="module">

  <container>

  <row>

    <!-- main image -->


    <columns small="12" large="12">
        <center>

      <a href="https://felixinstruments.com/food-science-instruments/headspace-map-analysis/f-920-check-it-gas-analyzer/?utm_source=newsletter&utm_campaign=new-year&utm_medium=email">
         <img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/073e82f0-d869-4db6-a800-569060a64368.jpg" width="570" class="alt-text main-image" alt="Save more time - measure headspace in 10 seconds or less!">
      </a>

      </center>
      </columns>

      <!--[if (gte mso 12)]>
      <div style="margin-bottom:40px;">
      &nbsp;
      </div>
      <![endif]-->

  </row>

</container>
</div>
