<div class="module">

  <container>

  <row>

    <!-- main image -->


    <columns small="12" large="12">
        <center>

      <a href="https://www.felixinstruments.com/?utm_source=newsletter&utm_campaign=new-year&utm_medium=email">
         <img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/ed40b259-842f-47c5-aa43-e0f1384ab533.png" width="570" class="alt-text main-image" alt="Welcome to 2017">
      </a>

      </center>
      </columns>



  </row>

  <row>
    <columns small="12" large="12">

    <!-- text -->
    <div class="content-block">

      <h1>What are you going to do with your clean slate?</h1>

    </div>

    </columns>

  </row>

</container>
</div>
