<div class="module">

  <container>

  <row>

    <!-- main image -->


    <columns small="12" large="12">
        <center>

      <a href="https://judithcid.typeform.com/to/qT5OTN ">
         <img src="http://placehold.it/570x375" width="570" class="alt-text main-image" alt="We're happy to hear from you">
      </a>

      </center>
      </columns>

  </row>

  <row>
    <columns small="12" large="12">

    <!-- text -->
    <div class="content-block">

        <p>
            Lastly, we want to thank you for staying in touch—reading our newsletters, hanging out with us on social media, and talking to us about what we’re doing well and where we can continue to grow. <br><br>

            Speaking of which—we’d love to get your feedback on how we can improve our newsletters in a short 2-minute survey.    </div>

    <!-- button container -->
    <container>
      <row>
        <columns>
          <center>
            <button href="https://judithcid.typeform.com/to/qT5OTN " class="large rounded">
          Fill out the Survey
        </button>
      </center>
    </columns>
  </row>
</container>


    </columns>

  </row>

</container>
</div>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:70px;">
&nbsp;
</div>
<![endif]-->
