<div class="module">

  <container>

  <row>

    <!-- main image -->


    <columns small="12" large="12">
        <center>


         <img src="http://placehold.it/570x375" width="570" class="alt-text main-image" alt="A nice placeholder image">


      </center>
      </columns>

  </row>

  <row>
    <columns small="12" large="12">

    <!-- text -->
    <div class="content-block">

      <h2>Thanks a lot.</h2>
        <p>
          We're thrilled. Truly. Here, have this.
          </p>

          <!-- gift code -->

          <callout class="callout">
          <div mc:edit="giftcode">

            <p>123-GIFTCODE-456</p>

          </div>
          </callout>

    </div>


    </columns>

  </row>

</container>
</div>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:30px;">
&nbsp;
</div>
<![endif]-->
