<div class="module">

  <container>

  <row>

    <columns small="12" large="6">

    <center>  <a href="https://cid-inc.com/plant-science-tools/leaf-area-measurement/ci-202-portable-laser-leaf-area-meter/?utm_source=Newsletter&utm_campaign=202%2F203%20EOY%20warranty&utm_medium=Email"><img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/f9a3bf7e-a300-4a8a-bb42-b9b25cb97da1.gif" width="300" class="alt-text half-image" alt="Tools that Travel">
</a>
</center>
    </columns>


    <columns small="12" large="6">

<center>    <a href="https://cid-inc.com/plant-science-tools/leaf-area-measurement/ci-203-handheld-laser-leaf-area-meter/?utm_source=Newsletter&utm_campaign=202%2F203%20EOY%20warranty&utm_medium=Email">  <img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/b0f93e08-7f4a-41af-9ce5-b6548a69ed40.gif" width="300" class="alt-text half-image" alt="Faster Data Collection"></a>
</center>

    </columns>




  </row>

</container>
</div>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:20px;">
&nbsp;
</div>
<![endif]-->
