<div class="module">
  <container>

  <row>

    <!-- main image -->
    <columns small="12" large="12">
      <img src="assets/img/940launch.jpg" width="570" height="646" class="alt-text main-image" alt="Felix Instruments is excited to announce the launch of the F-940 Store It! Gas Analyzer made especially for QA professionals.">
    </columns>

  </row>

  <row>
    <columns small="12" large="12">

    <!-- text -->
    <div class="content-block">

      <h2>Keep <strong>ethylene</strong> in check and your<strong> CO<sub>2</sub></strong><br>and <strong>O<sub>2</sub></strong> levels optimized with the new<br> Store It! Gas Analyzer. </h2>

    </div>

    <!-- button container -->
    <container>
      <row>
        <columns>
          <center>
            <button href="https://www.felixinstruments.com/request-pricing/" class="large rounded">
          Get a Quote
        </button>
      </center>
    </columns>
  </row>
</container>

   <h5 class="expiration-date">Order before December 31, 2016 for <a href="https://www.felixinstruments.com/request-pricing/">15% off!</a></h5>

    </columns>

  </row>

</container>
</div>
