<div class="module">

  <container>

  <row>

    <!-- main image -->


    <columns small="12" large="12">
        <center>

      <a href="">
         <img src="http://placehold.it/570x375" width="570" class="alt-text main-image" alt="Update your email preferences">
      </a>

      </center>
      </columns>

  </row>

  <row>
    <columns small="12" large="12">

    <!-- text -->
    <div class="content-block">

      <h2>Are we on the same page?</h2>
        <p>
          You may have noticed recently that you’re getting newsletters from both <a href="">CID Bio-Science</a> and <a href="">Felix Instruments</a>. Happy with that? Excellent. No need to do a thing!
        </p>
        <br>
        <p>
            But, if you’d rather only hear from one or the other, that’s no problem. Take a second and update your email preferences below.
        </p>
    </div>

    <!-- button container -->
    <container>
      <row>
        <columns>
          <center>
            <button href="https://felixinstruments.us9.list-manage.com/subscribe/post?u=07fe7340613a5466f17e556a2&id=e4400ca7a7" class="large rounded">
          Only send me emails from CID Bio-Science
        </button>
      </center>
    </columns>
  </row>
</container>

<!-- button container -->
<container>
  <row>
    <columns>
      <center>
        <button href="https://felixinstruments.us9.list-manage.com/subscribe/post?u=07fe7340613a5466f17e556a2&id=d08e979cba" class="large rounded">
      Only send me emails from Felix Instruments
    </button>
  </center>
</columns>
</row>
</container>

<div class="content-block">
<p>Rather not hear from us at all? We’d be sad to see you go, but you can always unsubscribe at any time.</p>

</div>

    </columns>

  </row>

</container>
</div>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:70px;">
&nbsp;
</div>
<![endif]-->
