<div class="module">

  <container>

  <row>

    <!-- main image -->


    <columns small="12" large="12">
        <center>

      <a href="https://cid-inc.com/?utm_source=newsletter&utm_campaign=one-month-follow-up&utm_medium=email">
         <img src="assets/img/main-image.png" width="570" class="alt-text main-image" alt="We're here to help">
      </a>

      </center>
      </columns>



  </row>

  <row>
    <columns small="12" large="12">

    <!-- text -->
    <div class="content-block">

      <h2>Whether you’re already using your Felix tool in an exciting new project or you haven’t even opened the box yet, we want to make sure you’re set up for success and have everything you need to get going!</h2>

    </div>

    </columns>

  </row>

</container>
</div>
