<div class="image-text-background"> <!-- gray bg div -->

  <container class="image-side-text-module">

  <row>

   <columns small="12" large="6">

  <center>
    <!--[if (gte mso 9)|(IE)]>
    <div>
    &nbsp;
    </div>
    <![endif]-->

    <!-- image -->
    <a href="https://www.felixinstruments.com/food-science-instruments/gas-analyzers/f-940-store-it-gas-analyzer/?utm_source=Newsletter&utm_medium=Emali&utm_campaign=940%20Launch%20101916"><img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/f3c3334e-0f24-4331-92f3-b07bd5e274cd.jpg" height="225" width="300" alt="Rapid gas measurements so you can stop waiting on results and start saving time." class="alt-text product-image"></a>


</center>

    </columns>

   <columns small="12" large="6">

<div class="text-block">

      <!-- text -->
      <h2 class="left">Fast</h2>

      <p class="left">
As speedy as it looks:<br>get results in under 30 seconds
</p>


      </div>

    </columns>


  </row>

</container>
</div>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:60px;">
&nbsp;
</div>
<![endif]-->
