<div class="image-text-background"> <!-- gray bg div -->

  <container class="image-side-text-module">

  <row>

   <columns small="12" large="6">

  <center>
    <!--[if (gte mso 9)|(IE)]>
    <div>
    &nbsp;
    </div>
    <![endif]-->

    <!-- image -->
<a href="https://www.felixinstruments.com/food-science-instruments/gas-analyzers/f-940-store-it-gas-analyzer/?utm_source=Newsletter&utm_medium=Emali&utm_campaign=940%20Launch%20101916">    <img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/72f3ce13-51e7-4775-a581-dff4b99ec5db.jpg" height="225" width="300" alt="A practical and affordable solution for QA professionals." class="alt-text product-image"></a>

</center>

    </columns>

   <columns small="12" large="6">

<div class="text-block">

      <!-- text -->
      <h2 class="left">Economical</h2>

      <p class="left">Everything you need in one sleek package for $4950, including first year calibration & warranty</p>


      </div>

    </columns>


  </row>

</container>
</div>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:60px;">
&nbsp;
</div>
<![endif]-->
