<div class="module gray-border">

  <container>

  <row>

    <!-- main image -->


    <columns small="12" large="12">
        <center>

            <h1 class="xxl-number">#1</p>

      <!-- <a href="">
         <img src="http://placehold.it/570x375" width="570" class="alt-text main-image" alt="A nice placeholder image">
      </a> -->

      </center>
      </columns>

  </row>

  <row>
    <columns small="12" large="12">

    <!-- text -->
    <div class="content-block">

     <row>
         <columns small="1" large="1">
             <img src="http://placehold.it/40x40" width="40" class="alt-text-sm checkmark-icon" alt="Checked!">
         </columns>

         <columns small="11" large="11">
             <h2 class="left-header">Look at this short li'l headline.</h2>
         </columns>

     </row>

        <ul>
        <li>Body copy is a beautiful thing. I can use it to expand on the headline above, creating more intrigue for you, the reader. Look, this is <strong>bold</strong>.
        </li>
        </ul>
    </div>

    <!-- button container -->
    <container>
      <row>
        <columns>
          <center>
            <button href="http://cid-inc.com" class="large rounded">
          Click this
        </button>
      </center>
    </columns>
  </row>
</container>


    </columns>

  </row>

</container>
</div>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:70px;">
&nbsp;
</div>
<![endif]-->
