<div class="publications-list">

        <div class="first-section">

          <container class="first-section"> <!-- header image -->

                <row>
                  <columns small="12" large="12">
                    <!--[if gte mso 12]>
                    <div>
                    &nbsp;
                    </div>
                    <![endif]-->

                    <center>

                  <a href="https://cid-inc.com/publication/effect-of-ozone-treatment-and-light-colour-on-photosynthesis-and-yield-of-lettuce/?utm_source=newsletter&utm_campaign=feb-pub-roundup&utm_medium=email">
                     <img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/c22725b0-cc01-4589-8bf4-c3e70458ee32.png" width="570" class="alt-text main-image" alt="CI-340 Handheld Photosynthesis System">
                  </a>

                  </center>

                  </columns>
                </row>

          </container>

        </div>

<div class="publication"> <!-- gray bg div -->

  <container class="publication">

  <row>

   <columns small="12" large="12">

        <center>
        <div class="content-block">

          <!-- 340 text -->


          <p><a class="pub-date" href="https://cid-inc.com/publication/effect-of-ozone-treatment-and-light-colour-on-photosynthesis-and-yield-of-lettuce/?utm_source=newsletter&utm_campaign=feb-pub-roundup&utm_medium=email">Mar 2017:</a> <a href="https://cid-inc.com/publication/effect-of-ozone-treatment-and-light-colour-on-photosynthesis-and-yield-of-lettuce/?utm_source=newsletter&utm_campaign=feb-pub-roundup&utm_medium=email">Effect of ozone treatment and light colour on photosynthesis and yield of lettuce</a></p>
          <!--[if gte mso 12]>
          <div style="margin-bottom:10px;">
          &nbsp;
          </div>
          <![endif]-->
            <p class="preview">“Between factors which may influence on plant growth are light conditions and chemical composition of atmosphere. The objective of this study was to investigate the effect of ozone treatment (at the stage of seeds and seeds + seedlings, described as O3-I and O3-II) and light colour (white, blue, and white + blue 50:50) on photosynthesis and yield of lettuce (Lactuca sativa L. ‘Subyana F1’) grown in a hydroponic system.”
            </p>
            <!--[if gte mso 12]>
            <div style="margin-bottom:20px;">
            &nbsp;
            </div>
            <![endif]-->

            <p class="pub-info"><strong>Journal: </strong>Scientia Horticulturae - <strong>Authors: </strong> Tomasz Kleiber, Klaudia Borowiak, Anita Schroeter-Zakrzewska, Anna Budka, Szymon Osieckia</p>


            <p class="pub-info">Image Source: <a href="http://www.rodalesorganiclife.com/garden/plan-growing-lettuce-all-season-long">Rodale's Organic Life</a> </p>


          </div>
    </center>

    </columns>
  </row>

</container>
</div>

<!--[if gte mso 12]>
<div style="margin-bottom:20px;">
&nbsp;
</div>
<![endif]-->
<div class="second-section">
<container class="second-section"> <!-- header image -->

      <row>
        <columns small="12" large="12">
          <!--[if gte mso 12]>
          <div>
          &nbsp;
          </div>
          <![endif]-->

          <center>

        <a href="http://www.nrcresearchpress.com/doi/abs/10.1139/cjfr-2016-0460#.WKzeOBIrLox">
           <img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/fca6a39b-a190-4e73-a0e3-23b1d9ae6a8b.png" width="570" class="alt-text main-image" alt="CI-202 Portable Laser Leaf Area Meter">
        </a>

        </center>

        </columns>
      </row>

</container>
</div>

<div class="publication"> <!-- gray bg div -->

  <container class="publication">

  <row>

   <columns small="12" large="12">

        <center>
        <div class="content-block">

          <!-- 202 text -->

          <p><a class="pub-date" href="http://www.nrcresearchpress.com/doi/abs/10.1139/cjfr-2016-0460#.WKzeOBIrLox">Jan 2017:</a> <a href="http://www.nrcresearchpress.com/doi/abs/10.1139/cjfr-2016-0460#.WKzeOBIrLox">Effects of magnetized water treatment on growth characteristics and ion absorption, transportation and distribution in Populus × euramericana ‘Neva’ under NaCl stress.</a></p>
          <!--[if gte mso 12]>
          <div style="margin-bottom:10px;">
          &nbsp;
          </div>
          <![endif]-->
            <p class="preview">“The effect of magnetic treatments on one-year potted seedlings of Populus × euramericana ‘Neva’ on the growth and ionic movements were investigated. Contents and fluxes of K+, Na+, Ca2+, Mg2+ and H+ in tissues and cellular were analyzed by atomic absorption spectrophotometry (AAS) and non-invasive micro-test technique (NMT), respectively.”
            </p>
            <!--[if gte mso 12]>
            <div style="margin-bottom:20px;">
            &nbsp;
            </div>
            <![endif]-->
            <p class="pub-info"><strong>Journal: </strong> Canadian Journal of Forest Research - <strong>Authors: </strong>Xiumei Liu, Fengyun Ma, Hong Zhu, Xuesong Ma, Jianyao Guo, Xiao Wan, Lu Wang, Huatian Wang, Yanping Wang</p>

              <p class="pub-info">Image Source: <a href="http://www.sciencemag.org/topic/water ">sciencemag.org</a> </p>

          </div>
    </center>

    </columns>
  </row>

</container>
</div>

<!--[if gte mso 12]>
<div style="margin-bottom:110px;">
&nbsp;
</div>
<![endif]-->

<div class="third-section">

  <container class="third-section"> <!-- header image -->

      <row>
        <columns small="12" large="12">
          <!--[if gte mso 12]>
          <div>
          &nbsp;
          </div>
          <![endif]-->

          <center>

        <a href="http://scholar.google.com/scholar_url?url=http://www.ini2016.com/wp-content/uploads/2016/03/Abstract-N-2007.docx&hl=en&sa=X&scisig=AAGBfm3yanQMbbzjDEU0Fo09Ixemz_nLlg&nossl=1&oi=scholaralrt">
           <img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/e4d99ed1-6f55-4ad7-8e3c-317c61286fed.png" width="570" class="alt-text main-image" alt="CI-340 Handheld Photosynthesis System">
        </a>

        </center>

        </columns>
      </row>

</container>
</div>


<div class="publication"> <!-- gray bg div -->

  <container class="publication">

  <row>

   <columns small="12" large="12">

        <center>
        <div class="content-block">

          <!-- 340 text -->

          <p><a class="pub-date" href="http://scholar.google.com/scholar_url?url=http://www.ini2016.com/wp-content/uploads/2016/03/Abstract-N-2007.docx&hl=en&sa=X&scisig=AAGBfm3yanQMbbzjDEU0Fo09Ixemz_nLlg&nossl=1&oi=scholaralrt">Feb 2017:</a> <a href="http://scholar.google.com/scholar_url?url=http://www.ini2016.com/wp-content/uploads/2016/03/Abstract-N-2007.docx&hl=en&sa=X&scisig=AAGBfm3yanQMbbzjDEU0Fo09Ixemz_nLlg&nossl=1&oi=scholaralrt">N-acetylcysteine increased nitrogen-induced rice yield</a></p>
          <!--[if gte mso 12]>
          <div style="margin-bottom:10px;">
          &nbsp;
          </div>
          <![endif]-->
            <p class="preview">“Rice is the most important staple food in Asia and approximately 90% of world rice is produced and consumed in Asia (IRRI 2002). In Malaysia, rice is imported from neighbouring countries, especially from Vietnam and Thailand with the amount at about RM501 million per year to fulfill the country’s demand (ASEAN Food Security Information System 2002). Therefore, increasing rice production in Malaysia is in pressure.”
            </p>
            <!--[if gte mso 12]>
            <div style="margin-bottom:20px;">
            &nbsp;
            </div>
            <![endif]-->
            <p class="pub-info"><strong>Authors: </strong> Sarwar MJ. Mohd Nozulaidi. Mohd Khairi</p>

            <p class="pub-info">Image Source: <a href="http://futureag.info/theme/crop-protection/narrowing-the-rice-yield-gap-in-east-and-southern-africa/  ">FutureAg </a> </p>

          </div>
    </center>

    </columns>
  </row>

</container>
</div>

<!--[if gte mso 12]>
<div style="margin-bottom:110px;">
&nbsp;
</div>
<![endif]-->

<div class="fourth-section">
  <container class="fourth-section"> <!-- header image -->

      <row>
        <columns small="12" large="12">
          <!--[if gte mso 12]>
          <div>
          &nbsp;
          </div>
          <![endif]-->

          <center>

        <a href="http://link.springer.com/article/10.1007/s10342-017-1029-4">
           <img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/97745474-4a91-418f-82c5-836bb8a2f678.png" width="570" class="alt-text main-image" alt="CI-203 Handheld Laser Leaf Area Meter">
        </a>

        </center>

        </columns>
      </row>

</container>
</div>


<div class="publication"> <!-- gray bg div -->

  <container class="publication">

  <row>

   <columns small="12" large="12">

        <center>
        <div class="content-block">

          <!-- 203 text -->

          <p><a class="pub-date" href="http://link.springer.com/article/10.1007/s10342-017-1029-4">Feb 2017:</a> <a href="http://link.springer.com/article/10.1007/s10342-017-1029-4">Influence of soil properties and burial depth on Persian oak (Quercus brantii Lindl.) establishment in different microhabitats resulting from traditional forest practices</a></p>
          <!--[if gte mso 12]>
          <div style="margin-bottom:10px;">
          &nbsp;
          </div>
          <![endif]-->
            <p class="preview">“In seasonally dry environments such as the Zagros woodlands (Iran), severe drought stress and lack of appropriate management practices can cause failure of oak afforestation or reforestation.”
            </p>
            <!--[if gte mso 12]>
            <div style="margin-bottom:20px;">
            &nbsp;
            </div>
            <![endif]-->
            <p class="pub-info"><strong>Journal: </strong> European Journal of Forest Research - <strong>Authors: </strong> Mehdi Heydari, Bernard Prévosto, Hamid Reza Naji, Ali Ashraf Mehrabi, David Pothier</p>

              <p class="pub-info">Image Source: <a href="http://radiozamaneh.com/english/ ">Radio Zamaneh </a> </p>

          </div>
    </center>

    </columns>
  </row>

</container>
</div>



<!--[if gte mso 12]>
<div style="margin-bottom:70px;">
&nbsp;
</div>
<![endif]-->

<div class="content-block">
  <h2>Visit our Applications page to see more!</h2>
</div>

<!-- button container -->
<container>
 <row>
   <columns>
     <center>
       <button href="https://cid-inc.com/applications/?utm_source=newsletter&utm_campaign=feb-pub-roundup&utm_medium=email" class="large rounded">
     Start exploring
   </button>
 </center>
</columns>
</row>
</container>



</div>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:20px;">
&nbsp;
</div>
<![endif]-->

<!--[if gte mso 12]>
<div style="margin-bottom:50px;">
&nbsp;
</div>
<![endif]-->
