<div class="publications-list">

        <div class="first-section">

          <container class="first-section"> <!-- header image -->

                <row>
                  <columns small="12" large="12">
                    <!--[if gte mso 12]>
                    <div>
                    &nbsp;
                    </div>
                    <![endif]-->

                    <center>

                  <a href="https://cid-inc.com/publication/microclimate-and-turmeric-yield-under-different-tree-species/?utm_source=newsletter&utm_campaign=feb-pub-roundup&utm_medium=email">
                     <img src="/assets/img/340.png" width="570" class="alt-text main-image" alt="CI-110 Plant Canopy Imager">
                  </a>

                  </center>

                  </columns>
                </row>

          </container>

        </div>

<div class="publication"> <!-- gray bg div -->

  <container class="publication">

  <row>

   <columns small="12" large="12">

        <center>
        <div class="content-block">

          <!-- 110 text -->

          <p><a class="pub-date" href="https://cid-inc.com/publication/microclimate-and-turmeric-yield-under-different-tree-species/?utm_source=newsletter&utm_campaign=feb-pub-roundup&utm_medium=email">Dec 2016:</a> <a href="https://cid-inc.com/publication/microclimate-and-turmeric-yield-under-different-tree-species/?utm_source=newsletter&utm_campaign=feb-pub-roundup&utm_medium=email">Microclimate and turmeric yield under different tree species</a></p>
          <!--[if gte mso 12]>
          <div style="margin-bottom:10px;">
          &nbsp;
          </div>
          <![endif]-->
            <p class="preview">“The impact of trees on associated crops appears to be mainly competition for bio-resources between crops and trees. Selection of suitable tree species with appropriate canopy and crops with partial shade tolerance and better yield potential are important aspects in agroforestry system…”
            </p>
            <!--[if gte mso 12]>
            <div style="margin-bottom:20px;">
            &nbsp;
            </div>
            <![endif]-->

            <p class="pub-info"><strong>Journal: </strong>Journal of Agrometeorology - <strong>Authors: </strong> Amandeep Singh, R. Sharma, S.K. Chauhan, D. Aurora.</p>


          </div>
    </center>

    </columns>
  </row>

</container>
</div>

<!--[if gte mso 12]>
<div style="margin-bottom:20px;">
&nbsp;
</div>
<![endif]-->
<div class="second-section">
<container class="second-section"> <!-- header image -->

      <row>
        <columns small="12" large="12">
          <!--[if gte mso 12]>
          <div>
          &nbsp;
          </div>
          <![endif]-->

          <center>

        <a href="https://cid-inc.com/publication/transgenically-altered-lignin-biosynthesis-affects-photosynthesis-and-water-relations-of-field-grown-populus-trichocarpa/?utm_source=newsletter&utm_campaign=feb-pub-roundup&utm_medium=email">
           <img src="/assets/img/202.png" width="570" class="alt-text main-image" alt="CI-202 Portable Laser Leaf Area Meter">
        </a>

        </center>

        </columns>
      </row>

</container>
</div>

<div class="publication"> <!-- gray bg div -->

  <container class="publication">

  <row>

   <columns small="12" large="12">

        <center>
        <div class="content-block">

          <!-- 202 text -->

          <p><a class="pub-date" href="https://cid-inc.com/publication/transgenically-altered-lignin-biosynthesis-affects-photosynthesis-and-water-relations-of-field-grown-populus-trichocarpa/?utm_source=newsletter&utm_campaign=feb-pub-roundup&utm_medium=email">Mar 2017:</a> <a href="https://cid-inc.com/publication/transgenically-altered-lignin-biosynthesis-affects-photosynthesis-and-water-relations-of-field-grown-populus-trichocarpa/?utm_source=newsletter&utm_campaign=feb-pub-roundup&utm_medium=email">Transgenically altered lignin biosynthesis affects photosynthesis and water relations of field-grown Populus trichocarpa</a></p>
          <!--[if gte mso 12]>
          <div style="margin-bottom:10px;">
          &nbsp;
          </div>
          <![endif]-->
            <p class="preview">“Concerns over energy security and environmental sustainability have stimulated interest in development of high-yield, low-lignin trees for bioenergy. Black cottonwood (Populus trichocarpa) has been targeted as a potential bioenergy species due to its high productivity, but it is unclear how transgenically altered lignin biosynthesis will affect plant function...”
            </p>
            <!--[if gte mso 12]>
            <div style="margin-bottom:20px;">
            &nbsp;
            </div>
            <![endif]-->
            <p class="pub-info"><strong>Journal: </strong> Biomass and Bioenergy - <strong>Authors: </strong>Renée M. Marchin, Anna T. Stout, Aletta A. Davis, John S. King. - <strong>DOI:</strong> http://dx.doi.org/10.1016/j.biombioe.2017.01.013</p>


          </div>
    </center>

    </columns>
  </row>

</container>
</div>

<!--[if gte mso 12]>
<div style="margin-bottom:110px;">
&nbsp;
</div>
<![endif]-->

<div class="third-section">

  <container class="third-section"> <!-- header image -->

      <row>
        <columns small="12" large="12">
          <!--[if gte mso 12]>
          <div>
          &nbsp;
          </div>
          <![endif]-->

          <center>

        <a href="https://cid-inc.com/publication/root-xylem-plasticity-to-improve-water-use-and-yield-in-water-stressed-soybean/?utm_source=newsletter&utm_campaign=feb-pub-roundup&utm_medium=email">
           <img src="/assets/img/340-2.png" width="570" class="alt-text main-image" alt="CI-203 Handheld Laser Leaf Area Meter">
        </a>

        </center>

        </columns>
      </row>

</container>
</div>


<div class="publication"> <!-- gray bg div -->

  <container class="publication">

  <row>

   <columns small="12" large="12">

        <center>
        <div class="content-block">

          <!-- 203 text -->

          <p><a class="pub-date" href="https://cid-inc.com/publication/root-xylem-plasticity-to-improve-water-use-and-yield-in-water-stressed-soybean/?utm_source=newsletter&utm_campaign=feb-pub-roundup&utm_medium=email">feb 2017:</a> <a href="https://cid-inc.com/publication/root-xylem-plasticity-to-improve-water-use-and-yield-in-water-stressed-soybean/?utm_source=newsletter&utm_campaign=feb-pub-roundup&utm_medium=email">Root xylem plasticity to improve water use and yield in water-stressed soybean</a></p>
          <!--[if gte mso 12]>
          <div style="margin-bottom:10px;">
          &nbsp;
          </div>
          <![endif]-->
            <p class="preview">“We tested the hypothesis that increasing the number of metaxylem vessels would enhance the efficiency of water uptake in soybean (Glycine max) and decrease the yield gap in water-limited environments...”
            </p>
            <!--[if gte mso 12]>
            <div style="margin-bottom:20px;">
            &nbsp;
            </div>
            <![endif]-->
            <p class="pub-info"><strong>Journal: </strong> Journal of Experimental Botany - <strong>Authors: </strong> Silvas J. Prince, Mackensie Murphy, Raymond N. Mutava, Lorellin A. Durnell, Babu Valliyodan, J. Grover Shannon, Henry T. Nguyen - <strong>DOI:</strong> https://doi.org/10.1093/jxb/erw472</p>


          </div>
    </center>

    </columns>
  </row>

</container>
</div>

<!--[if gte mso 12]>
<div style="margin-bottom:110px;">
&nbsp;
</div>
<![endif]-->

<div class="fourth-section">
  <container class="fourth-section"> <!-- header image -->

      <row>
        <columns small="12" large="12">
          <!--[if gte mso 12]>
          <div>
          &nbsp;
          </div>
          <![endif]-->

          <center>

        <a href="https://cid-inc.com/publication/chitosan-alleviates-phytotoxicity-caused-by-boron-through-augmented-polyamine-metabolism-and-antioxidant-activities-and-reduced-boron-concentration-in-cucumis-sativus-l/?utm_source=newsletter&utm_campaign=feb-pub-roundup&utm_medium=email">
           <img src="/assets/img/203.png" width="570" class="alt-text main-image" alt="CI-340 Handheld Photosynthesis System">
        </a>

        </center>

        </columns>
      </row>

</container>
</div>


<div class="publication"> <!-- gray bg div -->

  <container class="publication">

  <row>

   <columns small="12" large="12">

        <center>
        <div class="content-block">

          <!-- 340 text -->

          <p><a class="pub-date" href="https://cid-inc.com/publication/chitosan-alleviates-phytotoxicity-caused-by-boron-through-augmented-polyamine-metabolism-and-antioxidant-activities-and-reduced-boron-concentration-in-cucumis-sativus-l/?utm_source=newsletter&utm_campaign=feb-pub-roundup&utm_medium=email">feb 2017:</a> <a href="https://cid-inc.com/publication/chitosan-alleviates-phytotoxicity-caused-by-boron-through-augmented-polyamine-metabolism-and-antioxidant-activities-and-reduced-boron-concentration-in-cucumis-sativus-l/?utm_source=newsletter&utm_campaign=feb-pub-roundup&utm_medium=email">Chitosan alleviates phytotoxicity caused by boron through augmented polyamine metabolism and antioxidant activities and reduced boron concentration in Cucumis sativus L.</a></p>
          <!--[if gte mso 12]>
          <div style="margin-bottom:10px;">
          &nbsp;
          </div>
          <![endif]-->
            <p class="preview">“The aim of this investigation was to study an association among boron-induced oxidative stress, antioxidant system and polyamine metabolism in cucumber Cucumis sativus (L) plants. Furthermore, it was also investigated whether chitosan would increase the antioxidant activity and polyamine concentration that could induce tolerance to boron-induced oxidative stress.”
            </p>
            <!--[if gte mso 12]>
            <div style="margin-bottom:20px;">
            &nbsp;
            </div>
            <![endif]-->
            <p class="pub-info"><strong>Journal: </strong> Acta Physiologiae Plantarum - <strong>Authors: </strong> Rashad Mukhtar Balal, Muhammad Adnan, Shahid, Muhammad Mansoor Javaid, Zafar Iqbal, Guodong David Liu, Lincoln Zotarelli, Naeem Khan - <strong>DOI:</strong> 10.1007/s11738-016-2335-z</p>


          </div>
    </center>

    </columns>
  </row>

</container>
</div>



<!--[if gte mso 12]>
<div style="margin-bottom:70px;">
&nbsp;
</div>
<![endif]-->

<div class="content-block">
  <h2>Visit our Applications page to see more!</h2>
</div>

<!-- button container -->
<container>
 <row>
   <columns>
     <center>
       <button href="https://cid-inc.com/applications/?utm_source=newsletter&utm_campaign=feb-pub-roundup&utm_medium=email" class="large rounded">
     Start exploring
   </button>
 </center>
</columns>
</row>
</container>



</div>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:20px;">
&nbsp;
</div>
<![endif]-->

<!--[if gte mso 12]>
<div style="margin-bottom:50px;">
&nbsp;
</div>
<![endif]-->
