<div class="publications-list">

  <div class="publications-header"> <!-- section title -->
<container class="publications-header">
  <!--[if gte mso 12]>
  <div style="margin-bottom:10px;">
  &nbsp;
  </div>
  <![endif]-->

<h2>Recent Publications</h2>
<!--[if gte mso 12]>
<div style="margin-bottom:10px;">
&nbsp;
</div>
<![endif]-->


</container>
</div>

<div class="publication"> <!-- gray bg div -->

  <container class="publication">

  <row>

   <columns small="12" large="12">

        <center>

        <div class="content-block">
          <!-- text -->

          <p><a class="pub-date" href="https://cid-inc.com/publication/chitosan-alleviates-phytotoxicity-caused-by-boron-through-augmented-polyamine-metabolism-and-antioxidant-activities-and-reduced-boron-concentration-in-cucumis-sativus-l/?utm_source=newsletter&utm_campaign=january&utm_medium=email">Jan 2017:</a> <a href="https://cid-inc.com/publication/chitosan-alleviates-phytotoxicity-caused-by-boron-through-augmented-polyamine-metabolism-and-antioxidant-activities-and-reduced-boron-concentration-in-cucumis-sativus-l/?utm_source=newsletter&utm_campaign=january&utm_medium=email">Chitosan alleviates phytotoxicity caused by boron through augmented polyamine metabolism and antioxidant activities and reduced boron concentration in Cucumis sativus L.</a></p>
          <!--[if gte mso 12]>
          <div style="margin-bottom:10px;">
          &nbsp;
          </div>
          <![endif]-->
          <p><a class="instrument-name" href="https://cid-inc.com/plant-science-tools/photosynthesis-measurement/ci-340-handheld-photosynthesis-system/?utm_source=newsletter&utm_campaign=january&utm_medium=email">CI-340 Handheld Photosynthesis System</a></p>

          </div>
    </center>

    </columns>
  </row>

</container>
</div>

<!--[if gte mso 12]>
<p>&nbsp;</p>
<![endif]-->

<div class="publication"> <!-- gray bg div -->

  <container class="publication">

  <row>

   <columns small="12" large="12">
        <center>

        <div class="content-block">
          <!-- text -->

          <p><a class="pub-date" href="https://cid-inc.com/publication/influence-of-diluted-seawater-irrigation-on-the-physiological-and-biochemical-characteristics-of-common-egyptian-turfgrass/?utm_source=newsletter&utm_campaign=january&utm_medium=email">Dec 2016:</a> <a href="https://cid-inc.com/publication/influence-of-diluted-seawater-irrigation-on-the-physiological-and-biochemical-characteristics-of-common-egyptian-turfgrass/?utm_source=newsletter&utm_campaign=january&utm_medium=email">Influence of diluted seawater irrigation on the physiological and biochemical characteristics of common egyptian turfgrass</a></p>
          <!--[if gte mso 12]>
          <div style="margin-bottom:10px;">
          &nbsp;
          </div>
          <![endif]-->
          <p><a href="https://cid-inc.com/plant-science-tools/leaf-area-measurement/ci-202-portable-laser-leaf-area-meter/?utm_source=newsletter&utm_campaign=january&utm_medium=email" class="instrument-name">CI-202 Portable Laser Leaf Area Meter</a></p>

          </div>
    </center>

    </columns>
  </row>
</container>
</div>

<!--[if gte mso 12]>
<p>&nbsp;</p>
<![endif]-->


<div class="publication"> <!-- gray bg div -->

  <container class="publication">

  <row>

   <columns small="12" large="12">
        <center>

        <div class="content-block">
          <!-- text -->

          <p><a class="pub-date" href="https://cid-inc.com/publication/httpswwwresearchgatenetprofilemohsin_tanveer2publication311318846_alteration_in_growth_leaf_gas_exchange_and_photosynthetic_pigments_of_maize_plants_under_combined_cadmium_and_arsenic_stresslinks5848ab7f08ae61f75de35704pdf/?utm_source=newsletter&utm_campaign=january&utm_medium=email">Nov 2016:</a> <a href="https://cid-inc.com/publication/httpswwwresearchgatenetprofilemohsin_tanveer2publication311318846_alteration_in_growth_leaf_gas_exchange_and_photosynthetic_pigments_of_maize_plants_under_combined_cadmium_and_arsenic_stresslinks5848ab7f08ae61f75de35704pdf/?utm_source=newsletter&utm_campaign=january&utm_medium=email">Alteration in Growth, Leaf Gas Exchange, and Photosynthetic Pigments of Maize Plants Under Combined Cadmium and Arsenic Stress</a></p>
          <!--[if gte mso 12]>
          <div style="margin-bottom:10px;">
          &nbsp;
          </div>
          <![endif]-->
          <p><a href="https://cid-inc.com/plant-science-tools/leaf-area-measurement/ci-203-handheld-laser-leaf-area-meter/?utm_source=newsletter&utm_campaign=january&utm_medium=email" class="instrument-name">CI-203 Handheld Laser Leaf Area Meter</a></p>

          </div>
    </center>

    </columns>
  </row>
</container>
</div>

</div>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:30px;">
&nbsp;
</div>
<![endif]-->
