<div class="publications-list">

  <div class="publications-header"> <!-- section title -->
<container class="publications-header">
  <!--[if gte mso 12]>
  <div style="margin-bottom:10px;">
  &nbsp;
  </div>
  <![endif]-->

<h2>Recent Publications</h2>
<!--[if gte mso 12]>
<div style="margin-bottom:10px;">
&nbsp;
</div>
<![endif]-->


</container>
</div>

<div class="publication"> <!-- gray bg div -->

  <container class="publication">

  <row>

   <columns small="12" large="12">

        <center>

        <div class="content-block">
          <!-- text -->

          <p><a class="pub-date" href="">Jan 2017:</a> <a href="">Studies show that recent findings indicate a rapid increase in the disturbing quality of studies.</a></p>
          <!--[if gte mso 12]>
          <div style="margin-bottom:10px;">
          &nbsp;
          </div>
          <![endif]-->
          <p><a class="instrument-name" href="">XX-100 Instrument Name</a></p>

          </div>
    </center>

    </columns>
  </row>

</container>
</div>

<!--[if gte mso 12]>
<p>&nbsp;</p>
<![endif]-->

<div class="publication"> <!-- gray bg div -->

  <container class="publication">

  <row>

   <columns small="12" large="12">
        <center>

        <div class="content-block">
          <!-- text -->

          <p><a class="pub-date" href="">Jan 2017:</a> <a href="">Studies show that recent findings indicate a rapid increase in the disturbing quality of studies.</a></p>
          <!--[if gte mso 12]>
          <div style="margin-bottom:10px;">
          &nbsp;
          </div>
          <![endif]-->
          <p><a href="" class="instrument-name">XX-100 Instrument Name</a></p>

          </div>
    </center>

    </columns>
  </row>
</container>
</div>

</div>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:30px;">
&nbsp;
</div>
<![endif]-->
