<div class="image-text-background"> <!-- gray bg div -->

  <container class="image-side-text-module">

  <row>

   <columns small="12" large="6">

     <div class="text-block">

         <!-- text -->
           <h2 class="right">Keyword</h2>

           <p class="right">You're going to be impressed by this photo and this description.</p>

           </div>

    </columns>

   <columns small="12" large="6">

     <center>

       <!-- image -->
     <img src="http://placehold.it/300x225" alt="Image of the action" class="alt-text">

   </center>

    </columns>


  </row>

</container>

</div>
