<div class="image-text-background"> <!-- gray bg div -->

  <container class="image-side-text-module">

  <row>

   <columns small="12" large="6">

     <div class="text-block">

       <!--[if (gte mso 9)|(IE)]>
       <div style="margin-bottom:30px;">
       &nbsp;
       </div>
       <![endif]-->

         <!-- text -->
           <h2 class="right">Cutting-Edge</h2>

           <p class="right">Transfer data to <br>devices through <br>Bluetooth or Wi-Fi</p>

           </div>

    </columns>

   <columns small="12" large="6">

     <center>
       <!--[if (gte mso 9)|(IE)]>
       <div>
       &nbsp;
       </div>
       <![endif]-->

       <!-- image -->
       <a href="https://www.felixinstruments.com/food-science-instruments/gas-analyzers/f-940-store-it-gas-analyzer/?utm_source=Newsletter&utm_medium=Emali&utm_campaign=940%20Launch%20101916"><img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/dadf028e-b981-47b6-bc00-bc6f1ac31a21.jpg" height="225" width="300" alt="All the modern conveniences in one little gas detector. No cards. No cables." class="alt-text product-image">
</a>

   </center>

    </columns>


  </row>

</container>

</div>
