<div class="image-text-background"> <!-- gray bg div -->

  <container class="image-side-text-module">

  <row>

   <columns small="12" large="6">

     <div class="text-block">

       <!--[if (gte mso 9)|(IE)]>
       <div style="margin-bottom:30px;">
       &nbsp;
       </div>
       <![endif]-->

         <!-- text -->
           <h2 class="right">Cutting-Edge</h2>

           <p class="right">Transfer data to devices through Bluetooth or Wi-Fi</p>

           </div>

    </columns>

   <columns small="12" large="6">

     <center>
       <!--[if (gte mso 9)|(IE)]>
       <div>
       &nbsp;
       </div>
       <![endif]-->

       <!-- image -->
       <img src="assets/img/940-screen.jpg" height="225" width="300" alt="All the modern conveniences in one little gas detector. No cards. No cables." class="alt-text product-image">


   </center>

    </columns>


  </row>

</container>

</div>
