<div class="image-text-background"> <!-- gray bg div -->

  <container class="image-side-text-module">

  <row>

   <columns small="12" large="6">

     <div class="text-block">

       <!--[if (gte mso 9)|(IE)]>
       <div style="margin-bottom:30px;">
       &nbsp;
       </div>
       <![endif]-->

         <!-- text -->
           <h2 class="right">Keyword</h2>

           <p class="right">You're going to be impressed by this photo and this description.</p>

           </div>

    </columns>

   <columns small="12" large="6">

     <center>
       <!--[if (gte mso 9)|(IE)]>
       <div>
       &nbsp;
       </div>
       <![endif]-->

       <!-- image -->
       <a href="">
         <img src="http://placehold.it/300x225" width="300" alt="Image of the action" class="alt-text half-image">
       </a>
   </center>

    </columns>


  </row>

</container>

</div>
