<div class="cta-color-stripe third-color"> <!-- gray bg div -->

  <container class="third-color">

  <row>

   <columns small="12" large="12">

       <!--[if (gte mso 9)|(IE)]>
       <div style="margin-bottom:20px;">
       &nbsp;
       </div>
       <![endif]-->


        <center>

            <a href="mailto:jedwards@cid-inc.com">
              <img src="assets/img/header03.png" alt="Share Your Work" width="600" class="alt-text-white">
            </a>

        <div class="content-block">
          <!-- text -->

          <p>We would love to share your research with our instrument on our blog and in our newsletter. If you are interested in being featured, please let us know.</p>

                    </div>

          <!-- button container -->
          <container class="third-color">
            <row>
              <columns>

            <center>

                <button href="mailto:jedwards@cid-inc.com" class="large rounded success">
                Talk to Marketing
            </button>

            </center>

          </columns>
        </row>
      </container>


    </center>



    </columns>


  </row>

</container>
</div>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:50px;">
&nbsp;
</div>
<![endif]-->
