<div class="cta-color-stripe fourth-color"> <!-- gray bg div -->

  <container class="fourth-color">

  <row>

   <columns small="12" large="12">

       <!--[if (gte mso 9)|(IE)]>
       <div style="margin-bottom:20px;">
       &nbsp;
       </div>
       <![endif]-->


        <center>

            <a href="">
              <img src="assets/img/header04.png" alt="Image of the action" width="600" class="alt-text-white">
            </a>

        <div class="content-block">
          <!-- text -->

          <p>Want a free $25 Amazon card with no strings attached? Refer a colleague to us, and we’ll send you one. Don’t worry, we won’t bug your acquaintance with incessant emails or phone calls—our goal is just to help get our tools into the hands of the people who can use them.</p>


          <!-- button container -->
          <container class="fourth-color">
            <row>
              <columns>

            <center>

                <button href="http://cid-inc.com" class="large rounded success">
                Get your $25 Gift Card
            </button>

            </center>

          </columns>
        </row>
      </container>


          </div>

    </center>



    </columns>


  </row>

</container>
</div>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:50px;">
&nbsp;
</div>
<![endif]-->
