<div class="module">

  <container>


      <row>

        <!-- main image -->


        <columns small="12" large="12">
            <center>

          <a href="https://cid-inc.com/request-pricing/?utm_source=newsletter&utm_campaign=febnews&utm_medium=email">
             <img src="assets/img/newyearnewprices.png" width="570" class="alt-text main-image" alt="The impact of insects">
          </a>

          </center>
          </columns>

      </row>


  <row>
    <columns small="12" large="12">

    <!-- text -->
    <div class="content-block">

      <h2>Have you seen our 2017 prices?</h2>
        <p>
          If not, maybe it’s time to get a fresh quote with new prices and an updated expiration date!
        </p>
    </div>

    <!-- button container -->
    <container>
      <row>
        <columns>
          <center>
            <button href="https://cid-inc.com/request-pricing/?utm_source=newsletter&utm_campaign=febnews&utm_medium=email" class="large rounded">
        Get a new quote
        </button>
      </center>
    </columns>
  </row>
</container>


    </columns>

  </row>

</container>
</div>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:30px;">
&nbsp;
</div>
<![endif]-->
