<div class="module">

  <container>

  <row>
    <columns small="12" large="12">

    <!-- text -->
    <div class="content-block">

    <p>    Hi *|FNAME|*, </p>
<p>Earlier this year we launched our first handheld O<sub>2</sub>/CO<sub>2</sub> gas analyzer&mdash;the <a href="https://felixinstruments.com/food-science-instruments/gas-analyzers/f-920-check-it-gas-analyzer/?utm_source=Newsletter&utm_medium=Email&utm_campaign=920LowerPrice">F-920 Check It! Gas Analyzer</a>&mdash;and thanks to you, it’s been a great experience.</p>
<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:15px;">
&nbsp;
</div>
<![endif]-->
<p>Over the past six months you’ve shared important information with us about who you are, how you work, and what you need out of a gas analyzer. Want to know what we heard the most?</p>
<br>

<p><strong>You need something more affordable.</strong> So, here’s what we’re going to do about that:</p>
	<callout>
        <p>In 2017 <span class="teal">we’re lowering the price of the F-920 to $2600</span> (that’s $1350 less than our original price of $3950!).</p>
</callout>
<br>
<p>To thank you for the valuable feedback you’ve shared with us, we’re letting you in early on the <strong>new low price</strong> and throwing in a <strong>free 2-year warranty</strong> on all orders placed before December 31, 2016.</p>
<br>
<p>Ready to jump on this great deal?</p>
<p>Email our super sales administrator, Beth Skiles, at <a href="mailto:bskiles@felixinstruments.com">bskiles@felixinstruments.com</a> and she’ll send you a quote with the new price today.
</p>
    </div>



    </columns>

  </row>

</container>
</div>
