<div class="module">

  <container>

  <row>
    <columns small="12" large="12">

    <!-- text -->
    <div class="content-block">

    <p>    Hi *|FNAME|*, </p>
    <br>

<p>Earlier this year we launched our first handheld O2/CO2 gas analyzer—the F-920 Check It! Gas Analyzer, and thanks to you, it’s been a great experience.</p>

<p>Over the past six months you’ve shared important information with us about who you are, how you work, and what you need out of a gas analyzer. Want to know what we heard the most?</p>
<br>

<p><strong>You need something more affordable.</strong></p>
<br>
<p>So, here’s what we’re going to do about that:</p>
	<callout>
        •	In 2017 we’re lowering the price of the F-920 to $2600 (that’s $1350 less than our original price of $3950!).
    	•	To thank you for the valuable feedback you’ve shared with us, we’re letting you in the 2017 price early and throwing in a free 2-year warranty on all orders placed before December 31, 2016.
</callout>

<p>Ready to jump on this great deal? Email our super sales administrator, Beth Skiles, at bskiles@felixinstruments.com and she’ll send you a quote with the new price today.
</p>
    </div>



    </columns>

  </row>

</container>
</div>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:30px;">
&nbsp;
</div>
<![endif]-->
