<div class="cta-color-stripe second-color"> <!-- gray bg div -->

  <container class="second-color">

  <row>

   <columns small="12" large="12">

       <!--[if (gte mso 9)|(IE)]>
       <div style="margin-bottom:20px;">
       &nbsp;
       </div>
       <![endif]-->


        <center>

            <a href="">
              <img src="assets/img/header02.png" alt="Get Inspired" width="600" class="alt-text-white">
            </a>

        <div class="content-block">
          <!-- text -->

          <p>Want to see what else you can do with your CID tool? See what other researchers are up to on our applications page. </p>
        </div>


          <!-- button container -->
          <container class="second-color">
            <row>
              <columns>

            <center>

                <button href="https://cid-inc.com/" class="large rounded success">
                View Applications
            </button>

            </center>

          </columns>
        </row>
      </container>



    </center>



    </columns>


  </row>

</container>
</div>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:50px;">
&nbsp;
</div>
<![endif]-->
