<div class="cta-color-stripe third-color"> <!-- gray bg div -->

  <container class="third-color">

  <row>

   <columns small="12" large="12">

       <!--[if (gte mso 9)|(IE)]>
       <div style="margin-bottom:20px;">
       &nbsp;
       </div>
       <![endif]-->


        <center>

            <a href="mailto:jedwards@felixinstruments.com ">
              <img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/31d31bbc-944b-4f72-975c-cfe8ded8dd28.png" alt="Share Your Work" width="506" class="alt-text-white header-image">
            </a>

        <div class="content-block">
          <!-- text -->

          <p>We would love to share the work you’re up to with your Felix tool on our <a href="https://felixinstruments.com/blog/?utm_source=newsletter&utm_campaign=one-month-follow-up&utm_medium=email">blog</a> and in our <a href="https://felixinstruments.com/newsletters/?utm_source=newsletter&utm_campaign=one-month-follow-up&utm_medium=email">newsletter</a>. If you are interested in being featured, please let us know.</p>

                    </div>

                    <!--[if (gte mso 9)|(IE)]>
                    <div style="margin-bottom:10px;">
                    &nbsp;
                    </div>
                    <![endif]-->
          <!-- button container -->
          <container class="third-color">
            <row>
              <columns>

            <center>

                <button href="mailto:jedwards@felixinstruments.com" class="large rounded success">
                Talk to Marketing
            </button>

            </center>

          </columns>
        </row>
        <!--[if (gte mso 9)|(IE)]>
        <div style="margin-bottom:20px;">
        &nbsp;
        </div>
        <![endif]-->
      </container>


    </center>



    </columns>


  </row>

</container>
</div>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:15px;">
&nbsp;
</div>
<![endif]-->
