<div class="cta-color-stripe first-color"> <!-- gray bg div -->

  <container class="first-color">

  <row>

   <columns small="12" large="12">

       <!--[if (gte mso 9)|(IE)]>
       <div style="margin-bottom:20px;">
       &nbsp;
       </div>
       <![endif]-->


        <center>

            <a href="">
              <img src="assets/img/header01.png" alt="Get Technical Assistance" width="600" class="alt-text-white">
            </a>

        <div class="content-block">
          <!-- text -->

          <p>Are you ready to hear what we've been up to? The latest and greatest from us will follow, like it or not.</p>


          <!-- button container -->
          <container class="first-color">
            <row>
              <columns>

            <center>

                <button href="http://cid-inc.com" class="large rounded success">
                See more
            </button>

            </center>

          </columns>
        </row>
      </container>


          </div>

    </center>



    </columns>


  </row>

</container>
</div>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:50px;">
&nbsp;
</div>
<![endif]-->
