<div class="cta-color-stripe fifth-color"> <!-- gray bg div -->

  <container class="fifth-color">

  <row>

   <columns small="12" large="12">

       <!--[if (gte mso 9)|(IE)]>
       <div style="margin-bottom:20px;">
       &nbsp;
       </div>
       <![endif]-->


        <center>

            <a href="http://www.selectscience.net/review/?compID=%209270&utm_source=Manufacturer&utm_medium=Review-Email&utm_campaign=Reviews-Felix">
              <img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/bfa53097-3ab6-4c9f-aa69-3285020f34b6.png" alt="Review Your Instrument" width="570" class="alt-text-white main-image">
            </a>

        <div class="content-block">
          <!-- text -->

          <p>Want to let other researchers know what you think of your instrument? Write a review of your CID tool on SelectScience.</p>
            </div>

          <!--[if (gte mso 9)|(IE)]>
          <div style="margin-bottom:10px;">
          &nbsp;
          </div>
          <![endif]-->

          <!-- button container -->
          <container class="fifth-color">
            <row>
              <columns>

            <center>

                <button href="http://www.selectscience.net/review/?compID=%209270&utm_source=Manufacturer&utm_medium=Review-Email&utm_campaign=Reviews-Felix" class="large rounded success">
                Share your feedback
            </button>

            </center>

          </columns>
        </row>
        <!--[if (gte mso 9)|(IE)]>
        <div style="margin-bottom:20px;">
        &nbsp;
        </div>
        <![endif]-->
      </container>




    </center>



    </columns>


  </row>

</container>
</div>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:15px;">
&nbsp;
</div>
<![endif]-->
