<div class="cta-color-stripe second-color"> <!-- gray bg div -->

  <container class="second-color">

  <row>

   <columns small="12" large="12">

       <!--[if (gte mso 9)|(IE)]>
       <div style="margin-bottom:20px;">
       &nbsp;
       </div>
       <![endif]-->


        <center>

            <a href="https://cid-inc.com/applications/?utm_source=newsletter&utm_campaign=one-month-follow-up&utm_medium=email">
              <img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/7dbd5db7-567e-44ea-9f63-1232fe91d282.png" alt="Get Inspired" width="506" class="alt-text-white header-image">
            </a>

        <div class="content-block">
          <!-- text -->
          <p>Want to see what else you can do with your CID tool? See what other researchers are up to on our applications page.</p>
        </div>

        <!--[if (gte mso 9)|(IE)]>
        <div style="margin-bottom:10px;">
        &nbsp;
        </div>
        <![endif]-->

          <!-- button container -->
          <container class="second-color">


            <row>
              <columns>

            <center>

                <button href="https://cid-inc.com/applications/?utm_source=newsletter&utm_campaign=one-month-follow-up&utm_medium=email" class="large rounded success">
                View Applications
            </button>

            </center>

          </columns>
        </row>
        <!--[if (gte mso 9)|(IE)]>
        <div style="margin-bottom:20px;">
        &nbsp;
        </div>
        <![endif]-->
      </container>



    </center>



    </columns>


  </row>

</container>
</div>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:15px;">
&nbsp;
</div>
<![endif]-->
