<div class="cta-color-stripe fourth-color"> <!-- gray bg div -->

  <container class="fourth-color">

  <row>

   <columns small="12" large="12">

       <!--[if (gte mso 9)|(IE)]>
       <div style="margin-bottom:20px;">
       &nbsp;
       </div>
       <![endif]-->


        <center>

            <a href="https://felixinstruments.com/referrals/?utm_source=newsletter&utm_campaign=one-month-follow-up&utm_medium=email">
              <img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/87bf76f8-1253-447a-9a2f-3ed80aae7304.png" alt="Spread the Word" width="506" class="alt-text-white header-image">
            </a>

        <div class="content-block">
          <!-- text -->

          <p>Want a free $25 Amazon card with no strings attached? Refer a colleague to us, and we’ll send you one. Don’t worry, we won’t bug your acquaintance with incessant emails or phone calls—our goal is just to help get our tools into the hands of the people who can use them.</p>
    </div>

    <!--[if (gte mso 9)|(IE)]>
    <div style="margin-bottom:10px;">
    &nbsp;
    </div>
    <![endif]-->
          <!-- button container -->
          <container class="fourth-color">
            <row>
              <columns>

            <center>

                <button href="https://felixinstruments.com/referrals/?utm_source=newsletter&utm_campaign=one-month-follow-up&utm_medium=email" class="large rounded success">
                Get your Gift Card
            </button>

            </center>

          </columns>
        </row>
        <!--[if (gte mso 9)|(IE)]>
        <div style="margin-bottom:20px;">
        &nbsp;
        </div>
        <![endif]-->
      </container>




    </center>



    </columns>


  </row>

</container>
</div>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:15px;">
&nbsp;
</div>
<![endif]-->
