<div class="cta-color-stripe first-color"> <!-- gray bg div -->

  <container class="first-color">

  <row>

   <columns small="12" large="12">
     <!--[if (gte mso 9)|(IE)]>
     <div style="margin-bottom:20px;">
     &nbsp;
     </div>
     <![endif]-->
        <center>

            <a href="mailto:support@felixinstruments.com ">
              <img src="https://gallery.mailchimp.com/07fe7340613a5466f17e556a2/images/250a709b-d7ac-4897-af1c-e468eb3e1d21.png" alt="Get Technical Assistance" width="506" class="alt-text-white header-image">
            </a>

        <div class="content-block">
          <!-- text -->

          <p>Have questions or need technical assistance getting started with your instrument?</p>

                    </div>

                    <!--[if (gte mso 9)|(IE)]>
                    <div style="margin-bottom:10px;">
                    &nbsp;
                    </div>
                    <![endif]-->

          <!-- button container -->
          <container class="first-color">
            <row>
              <columns>

            <center>

                <button href="mailto:support@felixinstruments.com" class="large rounded success">
                Connect with Support
            </button>

            </center>

          </columns>
        </row>
        <!--[if (gte mso 9)|(IE)]>
        <div style="margin-bottom:20px;">
        &nbsp;
        </div>
        <![endif]-->
      </container>


    </center>



    </columns>


  </row>

</container>
</div>

<!--[if (gte mso 9)|(IE)]>
<div style="margin-bottom:50px;">
&nbsp;
</div>
<![endif]-->
