{{!-- This is the base layout for your project, and will be used on every page. --}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{subject}}</title>
  </head>
  <body>
    <!-- <style> -->

    <table class="body">

      <tr>
        <td class="center" align="center" valign="top">

          <center>

        <span class="preheader">{{description}}</span>

        <div class="browser-link"><!-- *|IFNOT:ARCHIVE_PAGE|* --><a href="*|ARCHIVE|*">View in browser</a><!-- *|END:IF|* --></div>

     <div class="logo-header">
       <img src="../assets/img/cid-logo.png" class="logo" width="272" height="64" alt="CID Bio-Science, Inc">
     </div>

            {{> body}}


      <h1>CID-inc.com</h1>
        <p>Request a quote | sales@cid-inc.com</p>
        <p>+1 (360) 833-8835</p>





          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
   <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
</html>
